@using Microsoft.AspNetCore.Identity
@using InternalIssues.Data
@using InternalIssues.Services 
@inject UserManager<AppUser> UserManager
@inject ApplicationDbContext context 
@inject INotificationService notificationService  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternalIssues</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*BOOTSTRAP TEMPLATE ADDITIONS*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/css/typicons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style_1.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*BOOTSTRAP TEMPLATE ADDITIONS*@

</head>


<body>
    <div class="container-scroller">

        @*If user is authenticated, display admin template, else only display the RenderBody()*@
        @if (User.Identity.IsAuthenticated)
        {
            //Get the Identity of the currently logged in user
            var user = await UserManager.FindByEmailAsync(User.Identity.Name);
            
            <!-- container-scroller -->
            <div class="container-scroller">

                <!-- partial:partials/_navbar.html -->
                <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                        <a class="navbar-brand brand-logo" asp-controller="Home" asp-action="Index">
                            <img src="~/images/Logo.png" alt="logo" />
                        </a>
                        <a class="navbar-brand brand-logo-mini" href="index.html">
                            <img src="~/images/logo-mini.svg" alt="logo" />
                        </a>
                    </div>
                    <div class="navbar-menu-wrapper d-flex align-items-center">
                        <ul class="navbar-nav">
                            <a href="https://www.zacharyhadjah.com/" target="_blank">
                                <li class="nav-item font-weight-semibold d-none d-lg-block">Contact Developer</li>
                            </a>

                        </ul>
                        <form class="ml-auto search-form d-none d-md-block" action="#">
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Search Here">
                            </div>
                        </form>

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#">
                                    <i class="mdi mdi-bell-outline"></i>
                                    <span class="badge badge-warning navbar-badge">@((await notificationService.GetUnreadNotificationsAsync(User)).Count())</span>
                                    @foreach (var notification in (await notificationService.GetUnreadNotificationsAsync(User)))
                                    {
                                        <a href="javascript:void(0)" class="dropdown-item">
                                            <p>@notification.Description</p>
                                            <p>@notification.Sender.FullName</p>
                                            <span class="float-right text-muted text-sm">@notification.Created.ToString("MM/dd HH:mm")</span>
                                        </a>
                                        <a asp-controller="Tickets" asp-action="GoToTicket" asp-route-id="@notification.Id"></a>
                                    }
                                </a>
                            </li>

                            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                    <img class="img-xs rounded-circle" src="~/images/face8.jpg" alt="Profile image">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                    <div class="dropdown-header text-center">
                                        <img class="img-md rounded-circle" src="~/images/face8.jpg" alt="Profile image">
                                        <p class="mb-1 mt-3 font-weight-semibold">@user.FullName</p>
                                        <p class="font-weight-light text-muted mb-0">   </p>
                                    </div>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">My Profile<i class="dropdown-item-icon ti-dashboard"></i></a>
                                    <a class="dropdown-item">
                                        <form id="LogoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" )">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Sign Out<i class="dropdown-item-icon ti-power-off"></i></button>
                                        </form>
                                    </a>
                                </div>
                            </li>
                        </ul>

                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                            <span class="mdi mdi-menu"></span>
                        </button>
                    </div>
                </nav>
                <!-- partial -->
                <!-- page-body-wrapper begins -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_sidebar.html -->
                    <nav class="sidebar sidebar-offcanvas" id="sidebar">
                        <ul class="nav">
                            <li class="nav-item nav-profile">
                                <a href="#" class="nav-link">
                                    <div class="profile-image">
                                        <img class="img-xs rounded-circle" src="~/images/face8.jpg" alt="profile image">
                                        <div class="dot-indicator bg-success"></div>
                                    </div>
                                    <div class="text-wrapper">
                                        <p class="profile-name">@user.FullName</p>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item nav-category">Main Menu</li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">
                                    <i class="menu-icon typcn typcn-document-text"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>

                            <partial name="_SidebarPartial" />
                        </ul>
                    </nav>
                    <!-- partial -->
                    <!--main-panel begins-->
                    <div class="main-panel">
                        <!--content-wrapper begins-->
                        <div class="content-wrapper">
                           
                            @RenderBody()
                        </div>
                        <!-- content-wrapper ends -->
                      

                    </div>
                    <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller ends -->

        }
        else
        {
            @RenderBody()
        }

    </div>

    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/js/data-table.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/vendor.bundle.base.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/todolist.js"></script>

    <script>
        $(document).ready(function () {
            $('#tickets_table_id').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(document).ready(function () {
            $('#users_on_project_table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(document).ready(function () {
            $('#tickets_in_projects').DataTable({
                "paging": true,
                "lengthChange": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(document).ready(function () {
            $('#tickets_index').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(document).ready(function () {
            $('#manage_roles_tables').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
