@model IEnumerable<InternalIssues.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col">
        <div class="card col-lg-12">
            <div class="card-header">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <table class="table table-bordered" id="tickets_index">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Project)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketPriority)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OwnerUser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeveloperUser)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
           
                

@section Scripts {
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

} 