@model IEnumerable<InternalIssues.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col">
        <div class="card col">
            <div class="card-header">
                <p>
                    All Tickets
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="tickets_index">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    @*<th>
                                        Created
                                    </th>*@
                                    <th>
                                        Ticket Type
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Ticket Priority
                                    </th>
                                    <th>
                                        Ticket Status
                                    </th>
                                 
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                        </td>
                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
           
                

@section Scripts {
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

} 