@using InternalIssues.Services
@inject ITicketService ticketService
@using InternalIssues.Data
@model InternalIssues.Models.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*Tickets Cards*@
<div class="row pb-4">

    <div class="col text-center">
        <div class="card card-statistics bg-blue-gradient">
            <div class="card-body">
                <h3>Total</h3>
                <p id="dashboard-cards-white-text"> <i class="fa fa-ticket"></i> @await ticketService.GetNumberOfAllTickets()</p>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-green-gradient">
            <div class="card-body">
                <h3>Assigned</h3>
                <p id="dashboard-cards-white-text"> <i class="fa fa-ticket"></i> @await ticketService.GetNumberOfAllAssignedTickets()</p>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics bg-orange-gradient">
            <div class="card-body">
                <h3>Unassigned</h3>
                <p id="dashboard-cards-white-text"> <i class="fa fa-ticket"></i> @await ticketService.GetNumberOfAllAssignedTickets()</p>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FFF200;">
            <div class="card-body">
                <h3>Open</h3>
                <p id="dashboard-cards-black-text"> <i class="fa fa-ticket"></i> @await ticketService.GetNumberOfAllOpenTickets()</p>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <div class="card card-statistics" style="background-color: #FF0017;">
            <div class="card-body">
                <h3>Closed</h3>
                <p id="dashboard-cards-black-text"> <i class="fa fa-ticket"></i> @await ticketService.GetNumberOfAllClosedTickets()</p>
            </div>
        </div>
    </div>

</div>

@*Tickets Table*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tickets table</h4>
                <table class="table table-bordered" id="tickets_table_id">
                    <thead>
                        <tr>
                            <th> Developer </th>
                            <th> Category </th>
                            <th> User </th>
                            <th> Priority </th>
                            <th> Project </th>
                            <th> Title </th>
                            <th> Project </th>
                            <th> Attachment </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td> 1 </td>
                            <td> Herman Beck </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td> $ 77.99 </td>
                            <td> May 15, 2015 </td>
                            <td> May 15, 2015 </td>
                            <td> May 15, 2015 </td>
                            <td> May 15, 2015 </td>
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Pie chart and Tickets by Category*@
<div class="row">
    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                <h4 class="card-title mb-0">Ticket Priority Overview</h4>
                <id id="pie-chart-legend" class="mr-4"></id>
            </div>
            <div class="card-body d-flex">

                @*insert chat*@
                <canvas id="priorityChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>

    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h4 class="card-title mb-0">Tickets By Status</h4>
            </div>
            <div class="card-body">

                @*insert chart*@
                <canvas id="statusChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>

    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h4 class="card-title mb-0">Tickets By Type</h4>
            </div>
            <div class="card-body">

                @*insert chart*@
                <canvas id="typeChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>


</div>

@*Users and Tickets History*@
<div class="row">

    <div class="col-lg-8 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users on Project</h4>
                <table class="table table-bordered" id="users_on_project_table">
                    <thead>
                        <tr>
                            <th> FullName </th>
                            <th> Role </th>
                            <th> Email </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info">
                            <td> 1 </td>
                            <td> Herman Beck </td>
                            <td> Photoshop </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between pb-3">
                    <h4 class="card-title mb-0">Ticket History</h4>
                </div>
                <ul class="timeline">
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                    <li class="timeline-item">
                        <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p>
                        <p class="event-time">Just now</p>
                    </li>
                </ul>
                <a class="d-block mt-3" href="#">Show all</a>
            </div>
        </div>
    </div>

</div>





<canvas id="myChart" width="400" height="400"></canvas>
<canvas id="myChart2" width="400" height="400"></canvas>


<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ticket in project</h4>
            <table class="table table-bordered" id="tickets_in_projects">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Member Count</th>
                        <th>Description</th>
                        <th>Tickets Count</th>
                        <th> Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        @foreach (var ticket in Model.Projects)
                        {
                            <td> @ticket.Name </td>
                            <td> @foreach (var user in ticket.Members)
                                  {
                                    
                                  }
                            </td>
                            <td> @ticket.Description </td>
                            <td> @ticket.Tickets.Count </td>
                            <td> @ticket.Company.Name </td>
                        }

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




@*Charts*@
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>
        //Step 1 generate the URL that we will call to get JSON
        var URL1 = '@Url.Action("PriorityChart", "Charts")';   //represents the endpoint (controller + action) that we want to hit
        var URL2 = '@Url.Action("TypeChart", "Charts")';
        var URL3 = '@Url.Action("StatusChart", "Charts")';

        //Step2 - start the structure for our AJAX Calls
        $.post(URL1).then(function (response) {

            //Get the context/canvas for the chart
            var ctx = document.getElementById('priorityChart').getContext('2d');
            //Use the JSON response to create the data property of the chart
            var polarChartData = {
                labels: response.labels,
                datasets: [{
                    label: 'Tickets By Priority',
                    data: response.data,
                    backgroundColor: response.backgroundColors,
                    hoverOffset: 4
                }]
            };
            var polarChart = new Chart(ctx, {
                type: 'pie',
                data: polarChartData
            })
        });

        $.post(URL2).then(function (response) {

            //Get the context/canvas for the chart
            var ctx = document.getElementById('statusChart').getContext('2d');
            //Use the JSON response to create the data property of the chart
            var polarChartData = {
                labels: response.labels,
                datasets: [{
                    label: 'Tickets By Status',
                    data: response.data,
                    backgroundColor: response.backgroundColors,
                    hoverOffset: 4
                }]
            };
            var polarChart = new Chart(ctx, {
                type: 'pie',
                data: polarChartData
            })
        });

        $.post(URL3).then(function (response) {

            //Get the context/canvas for the chart
            var ctx = document.getElementById('typeChart').getContext('2d');
            //Use the JSON response to create the data property of the chart
            var polarChartData = {
                labels: response.labels,
                datasets: [{
                    label: 'Tickets By Type',
                    data: response.data,
                    backgroundColor: response.backgroundColors,
                    hoverOffset: 4
                }]
            };
            var polarChart = new Chart(ctx, {
                type: 'pie',
                data: polarChartData
            })
        });
    </script>
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


  


}

