@using Microsoft.AspNetCore.Identity
@using InternalIssues.Services
@inject UserManager<AppUser> userManager
@inject IRoleService roleService

@{
    var users = new MultiSelectList(userManager.Users, "Id", "FullName");
    var roles = new SelectList(roleService.NonDemoRoles(), "Name", "Name");
}


@*This form will allow the admin to change the roles of user.
    It features a multiple drop down list. First the HttpGet will
    be called inside of the controller. After the view is display,
    the admin will chose which roles they want to change. The form
    info with who the admin has chosen will be sent to home
    controller, and the HttpPost ManageRoles() action*@
<div class="card">
    <div class="card-body bg-info">
        <h4 class="card-title">Role Management</h4>
        <form asp-action="ManageRoles" method="post">
            <div class="row">
                <div class="col">
                    <select name="userIds" multiple="multiple" asp-items="@users"></select>
                </div>
                <div class="col">
                    <select name="roleName" asp-items="@roles"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-4" offset-4>

                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                </div>
            </div>
        </form>
    </div>
</div>

@*Putting all users inside bootstrap template card*@
<div class="card-body" style="background-color: white">
    <h4 class="card-title">User Roles</h4>
    <table class="table" >
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in userManager.Users.ToList())
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>
                        @foreach (var role in (await roleService.ListUserRolesAsync(user)))
                        {
                            <p>@role</p>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
@*Putting all users inside bootstrap template card*@